img{
    width: 400px;
    height: auto;
}

.heading{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: tomato;
    flex: auto;
}